:root {
  --white-color: #fff;
  --dark: #100f14;
  --primary-500: #c1b7f8;
  --dark-500: #100f14;
  --gray-500: #a8a7ae;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Estedad-Regular";
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--white-color);
}

/* 
  
  reset element
  
  */

a {
  text-decoration: none;
  color: #fff;
}

/* 

helper class

*/

.flex-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

main

*/

.main {
}

/* 

home

*/

.home {
  background-color: var(--dark);
  color: var(--white-color);
}
.home__content-wrapper {
}
.home__title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.home__caption {
  font-size: 2rem;
}
.home__links-wrapper {
  margin-top: 8rem;
}

.home__link {
  background-color: var(--primary-500);
  padding: 1rem 2.5rem;
  color: #000;
  border-radius: 0.5rem;
  margin-left: 2rem;
}

.home__link--dark {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
}

.home__image {
  max-width: 60rem;
  max-height: 60rem;
}

/* 

category

*/

.category {
  background-color: rgb(193, 183, 248, 10%);
  padding: 10rem 0;
}
.category__head {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.category__title {
  font-family: "Estedad-Bold";
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}
.category__caption {
  color: #a8a7ae;
}

.category__box {
  border: 3px solid #edebfc;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  cursor: pointer;
}

.category__svg--wrapper {
  background-color: var(--primary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1.5rem;
}
.category__svg {
}
.category__box--title {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0 0.5rem 0;
}
.category__box--information {
  color: #a8a7ae;
}

/* 

courses

*/

.courses {
}

.courses__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.courses__link {
  color: #100f14;
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem;
  background-color: rgba(168, 167, 174, 10%);
  font-weight: bold;
  transition: all 200ms ease-in;
  text-align: center;
}

.courses__link--active {
  background-color: var(--primary-500);
}

.courses__link:hover {
  background-color: var(--primary-500);
}

.courses__box {
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(168, 167, 174, 20%);
  height: 100%;
}
.courses-box__link {
}
.courses__image {
  width: 100%;
  border-radius: 1.5rem;
}
.courses__svgs {
  text-align: left;
  padding-top: 0.5rem;
}
.courses__svg {
}
.courses__title {
  font-size: 2.5rem;
  font-family: "Estedad-Medium";
  color: var(--dark-500);
  margin: 2rem 0;
}

.courses-box__status {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-500);
}
.courses-box__date {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.courses__date {
  font-family: "Estedad-SemiBold";
}
.courses-box__user {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.course-box__users-icon {
  width: 2rem;
  height: 2rem;
}
.courses-box__user-text {
  font-family: "Estedad-SemiBold";
}

.courses__price--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid rgb(168, 167, 174, 10%);
}
.courses__teacher {
  color: var(--dark-500);
}
.courses__price {
  color: var(--dark-500);
}

/* Article */

.article {
}
.article__container {
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(168, 167, 174, 20%);
  height: 100%;
}
.article__header {
}
.article__image {
  width: 100%;
  height: 30rem;
}
.article__title {
  font-size: 1.7rem;
  font-family: "Estedad-Medium";
  color: var(--dark-500);
  margin-bottom: 0.5rem;
}
.article__caption {
  color: var(--gray-500);
  margin-bottom: 2rem;
}
.article__link {
  text-align: center;
  padding: 0.8rem 2.5rem;
  background-color: var(--primary-500);
  border-radius: 0.8rem;
  color: var(--dark);
  margin-bottom: 2rem;
  bottom: 0;
}

/* 

university

*/
.university {
  margin: 15rem 0;
}
.category__head {
}
.category__title {
}
.university__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 7rem;
}
.univercity__image {
  max-width: 15rem;
}

/* 

ability

*/

.ability {
  margin: 20rem 0;
}
.ability__content-box {
}
.ability__title {
  font-size: 4rem;
  font-family: "Estedad-Bold";
  color: var(--dark);
}
.ability__caption,
.ability_text {
  color: var(--gray-500);
  max-width: 40rem;
  margin: 2rem 0 0 0;
}

.ability_text {
  color: var(--gray-500);
  max-width: 48rem;
  margin: 2rem 0 4rem 0;
}
.ability__link {
  text-align: center;
  padding: 0.8rem 2.5rem;
  background-color: var(--primary-500);
  border-radius: 0.8rem;
  color: var(--dark);
}

.ability__courses-box {
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 100%;
  border-top: 7px solid var(--primary-500);
  margin: 1.5rem 0;
}
.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--primary-500);
  border-radius: 0.8rem;
}
.ability__svg-box {
}
.ability__title-box {
  font-size: 2rem;
  font-family: "Estedad-Medium";
  margin: 1.5rem 0 0.8rem 0;
  color: var(--dark);
}
.ability__caption-box {
  color: var(--gray-500);
}

/* 

responsiv

*/

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  .home__image {
    max-width: 50rem;
    max-height: 50rem;
  }
  .ability__caption,
  .ability_text {
    font-size: 1.5rem;
  }
  .ability__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .home__title {
    font-size: 4rem;
  }
  .home__links-wrapper {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .university__box {
    justify-content: center;
  }
  .ability__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ability__title {
    font-size: 4rem;
  }
  .ability__caption,
  .ability_text {
    max-width: 100%;
  }
  .article {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .courses__teacher {
    font-size: 1.4rem;
  }
  .ability__caption-box {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .home__image {
    width: 100%;
  }
  .category__title {
    font-size: 3.5rem;
  }
  .courses__link {
    padding: 1.5rem 2rem;
    min-width: 18rem;
  }
  .courses__links {
    flex-wrap: wrap;
  }
  .courses__teacher {
    font-size: 1.6rem;
  }
  .ability__courses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .ability__title {
    font-size: 3rem;
  }

  .home__title,
  .home__caption {
    text-align: center;
  }
}
